@using BlazorApp.Shared

<div class="link-outer">
  <div class="link-wrapper @(editable ? "link-editable" : "")">
    <div class="columns is-vcentered is-mobile">
      <div class="card link">
        <div class="column">
          <div class="columns is-vcentered">
            <div class="column is-narrow is-hidden-mobile">
              <figure class="link-image">
                <img width="64" height="64" class="is-64x64"
                  src="@(string.IsNullOrEmpty(link.Image) ? "/images/no-image.png" : link.Image)" alt="@(link.Title)" />
              </figure>
            </div>
            <div class="column link-details">
              <div class="columns is-mobile is-multiline is-gapless">
                <div class="column is-narrow is-hidden-tablet">
                  <figure class="link-image link-image-little">
                    <img width="24" height="24" class="is-24x24"
                      src="@(string.IsNullOrEmpty(link.Image) ? "/images/no-image.png" : link.Image)"
                      alt="@link.Title" />
                  </figure>
                </div>
                <div class="column">
                  <p class="has-text-weight-bold link-title input has-text-weight-medium">@link.Title</p>
                </div>
                <div class="column is-full">
                  <p class="link-description textarea has-fixed-size is-size-7">
                    @link.Description
                  </p>
                  <input disabled="disabled" value="@link.Url" class="link-url" />
                </div>
              </div>
            </div>
          </div>
        </div>
        @if (!editable)
        {
          <a href="@link.Url">
            <div class="is-overlay" v-if="!editable"></div>
          </a>
        }
      </div>
      @if (editable)
      {
        <div class="column is-narrow" v-if="editable">
          <div class="columns is-vcentered">
            <div class="column">
              <a class="has-text-bold link-delete has-text-grey" @click.prevent="deleteLink(link.id)">
                <span class="icon is-medium">
                  <i class="fas fa-lg fa-times"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>

@code {
  [Parameter]
  public Link link { get; set; } = new Link();

  [Parameter]
  public bool editable { get; set; } = false;
}
