@using BlazorApp.Shared

<div class="link-outer">
  <div class="link-wrapper">
    <div class="columns is-vcentered is-mobile">
      <div class="card link">
        <div class="column">
          <div class="columns is-vcentered">
            <div class="column is-narrow is-hidden-mobile">
              <figure class="link-image">
                <img width="64" height="64" class="is-64x64"
                  src="@(string.IsNullOrEmpty(link.Image) ? "/images/no-image.png" : link.Image)" alt="@(link.Title)" />
              </figure>
            </div>
            <div class="column link-details">
              <div class="columns is-mobile is-multiline is-gapless">
                <div class="column is-narrow is-hidden-tablet">
                  <figure class="link-image link-image-little">
                    <img width="24" height="24" class="is-24x24"
                      src="@(string.IsNullOrEmpty(link.Image) ? "/images/no-image.png" : link.Image)"
                      alt="@link.Title" />
                  </figure>
                </div>
                <div class="column">
                  <p class="has-text-weight-bold link-title input has-text-weight-medium">@link.Title</p>
                </div>
                <div class="column is-full">
                  <p class="link-description textarea has-fixed-size is-size-7">
                    @link.Description
                  </p>
                  <p>value="@link.Url" class="link-url"</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@code {
  [Parameter]
  public Link link { get; set; } = new Link();

  [Parameter]
  public bool editable { get; set; } = false;
}
